.hidden {
    display: none;
}

.crop {
    height: 400px;
    overflow: hidden;
}

#cool-carousel{
    position: relative;
}

#img-container, #container {
    width: 100%;

}

img{
    width: 100%;
}

#dot-div{
    position: absolute;
    top: 90%;
}
.selected {
    background-color: white;
    border-radius: 100%;
    border: 1px solid white;
    width: 15px;
    height: 15px;
    padding:2px;
    z-index: 5;
    margin-right: 10px;
    float: left;
}



.toBeSelected {
    border-radius: 100%;
    margin-right: 10px;
    border: 3px solid white;
    width: 15px;
    height: 15px;
    z-index: 5;
    float: left;

}

#prev{
    background-color: blue;
    width:15px;
    height: 15px;
    margin-left: 2%;
    z-index: 5;
    position: absolute;
    top: 50%;

}

#next{
    background-color: blue;
    width:15px;
    height: 15px;
    margin-left: 95%;
    z-index: 5;
    position: absolute;
    top: 50%;

}